#page{
    display: flex;
    flex-wrap: wrap;
    background-image:url(fond_css.png);
    background-color: transparent;
}

#div_gauche{
    display: flex;
    flex-wrap: wrap;
    width: 8%;
    float: left;
    margin-left: -1%;
    margin-top: -1%;
    background-color: rgb(24, 120, 158);
}
#div_droite{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    float: right;
}
#div_bottom{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#formation{
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    }
#experience_pro{
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
}
#centre_dinteret{
    display: flex;
    flex-wrap: wrap;
    margin-left:-1%;
    width: 40%;
    font-size: 16px;
}
#qualites{
    display: flex;
    flex-wrap: wrap;
    margin-left:7%;
    width: 45%;
    font-size: 16px;
}
ul#annee{
    font-weight: bold;
    width: 10%;
}
ul#duree{
    margin-left: 3%;
    font-weight: bold;
    width: 12%;
}
ul#diplome{
    margin-left: 10%;
    width: 33%;
}
ul#metier{
    margin-left: 9%;
    width: 40%;
}
ul{
    list-style-type: none;
}
li{
    margin-top: 10%;
    color: aliceblue;
    margin-left: -20%;
}
h1{
    text-transform: uppercase; 
    margin-left: 31%;
    margin-top:4%;
    width: 100%;
    color: rgb(24, 120, 158);
}
h2{
    border-width:2px;
    margin-top:3%;
    border-style:solid;
    width: 90%;
    margin-left: 2%;
    text-transform: uppercase;
    padding: 1%;
    color: rgb(24, 120, 158);
    background-color:white;
}
h3{
    margin-left: 12%;
    color: aliceblue;
    border-bottom: 2px solid white; 
}
#duree{
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    float: left;
}
#annee{
    display: flex;
    flex-wrap: wrap;
    float: left;
}
#metier{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    float: right;
}
#diplome{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    float: right;
}
 
